*{
    box-sizing: border-box;
}
body{
    background: #f3f3f39c;
}

.custom_swicth{
    width: 80px;
    height: 34px;
    line-height: 34px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 20px 0 #3b3b3b;  
    border: 1px solid #ffffff;
    position: relative;
    overflow: hidden;
}

.custom_swicth::after{
    content: '\263D';
    font-size: 22px;
    line-height: 100%;
    color: rgb(17, 0, 255);
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 11;
    padding: 4px 8px;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;

}
.custom_swicth::before{
    content: '\263C';
    font-size: 22px;
    line-height: 100%;
    color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    background: #050505;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 10;
    padding: 4px 8px;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;

}
#mode{
    display: none;
}

#mode:checked ~ .custom_swicth::after{
    width: 0%;
    z-index: 11;
}
#mode:checked ~ .custom_swicth::before{
    background: #000000;
    width: 100%;
    z-index: 12;
    text-align: left;
}
.audio-recorder{
    position: absolute;
    bottom: 6px;
    right: 100px;
}

  ::-webkit-scrollbar {
    display: none !important;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  }
  ::-moz-scrollbar {
    display: none; 
}
