@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .d_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 250px 250px;
    flex-direction: row;
}
}

@layer components{
    
    .input_css{
      @apply border-2 border-[#11175d38] large_tablet:py-6 tablet:py-4 mobile:py-3 large_tablet:px-6 tablet:px-8 mobile:px-6 rounded-lg font-nunito font-semibold tablet:text-lg mobile:text-sm text-[#11175D] outline-none w-full
    }
    .input_span_css{
      @apply absolute large_tablet:left-5 border-2 border-[#11175d38] tablet:left-8 mobile:left-5 -top-5 bg-white rounded-full py-2 px-2  font-nunito font-semibold text-sm text-[#11175db6]
    }
    .icon_menu_a{
      @apply font-poppin font-semibold text-sm text-semi-black
    }
    .hoverAfterBefore{
      @apply  text-primary mobile:text-lg tablet:text-xl inline-flex justify-center items-center bg-primary/20 w-10 h-10 rounded-full 
    }
    .menu{
      @apply  text-primary mobile:text-lg tablet:text-xl inline-flex justify-center items-center bg-primary/20 w-10 h-10 rounded-full
    }
    .menu_a{
      @apply flex gap-2 items-center pl-5 font-poppin font-semibold text-sm text-semi-black
    }
    .bold_text{
      @apply font-poppin text-lg font-semibold text-semi-black 
    }
    .p_text{
      @apply font-poppin text-sm font-normal text-[#4d4d4dbd]
    }
    .light_mode{
      @apply p-5 bg-white border border-[#d3d3d3] shadow-xl rounded-3xl mt-8
    }
    .dark_mode{
      @apply p-5 bg-[#323949] border border-[#3d3e51] shadow-xl rounded-3xl mt-8
    }
    .search_light_style{
      @apply w-full h-12 bg-[#d8d8d8] mb-5 text-slate-500 font-normal font-poppin text-xl border border-[#d3d3d3] px-12 mt-2  rounded-full outline-0
    }
    .search_dark_style{
      @apply w-full h-12 bg-[#323949] text-white font-normal font-poppin text-xl border border-[#3d3e51] px-12 shadow-xl  mt-2 rounded-full outline-0
    }
    .dark_info_style{
      @apply flex justify-between text-xs font-bold font-nunito text-white
    }
    .light_info_style{
      @apply flex justify-between text-xs font-bold font-nunito text-gray-700
    }
    .light_heading{
      @apply relative text-semi-black  font-poppin font-semibold text-xl
    }
    .dark_heading{
      @apply relative text-gray-200 font-poppin font-semibold text-xl
    }
    .light_msg_tex{
      @apply text-sm font-nunito font-semibold text-semi-black  bg-white shadow-lg rounded-lg p-3 inline-block
    }
    .dark_msg_tex{
      @apply text-sm font-nunito font-semibold text-gray-300 bg-[#3d3e51] shadow-lg rounded-lg p-3 inline-block
    }
    .current_light_msg{
      @apply text-sm font-nunito font-semibold text-white bg-primary shadow-lg rounded-lg p-3 inline-block;
    }
    .current_dark_msg{
      @apply text-sm font-nunito font-semibold text-white bg-[#60628b] shadow-lg rounded-lg p-3 inline-block;
    }
    .light_msg_input{
      @apply border-gray-200 bg-semi-white font-nunito text-base font-semibold w-full focus:outline-none p-3 rounded-lg  border-[1px]
    }
    .dark_msg_input{
      @apply border-gray-400 font-nunito bg-slate-700 text-gray-300 text-base font-semibold w-full focus:outline-none p-3 rounded-sm  border-[1px]
    }
  

}